# Root temporary executables and objects
/run
/run.exe
*.out
*.o
*.obj

# Ignore executables files
bin/

# Demo Media Guidelines
gifs/

# Agents
AGENTS.md

# Local IDE and Notes
.vscode/
Further_optimization.txt